title: Bjorn's Homelab
favicon: https://www.google.com/favicon.ico
theme: dark
color: slate
language: en
target: _blank
quicklaunch:
  searchDescriptions: true
  hideInternetSearch: false
  showSearchSuggestions: true
  hideVisitURL: false
statusStyle: "dot"
disableIndexing: true